.container {
    border: 2px solid red;
}

.one {
    display: block;
    border: 1px dashed blue;
}

.two {
    display: inline;
    border: 1px solid hotpink;
}

.three {
    display: inline-block;
    border: 1px dashed greenyellow;
}

.four {
    display: hidden;
}